"*":
  "atom-css-comb":
    commonConfigs: "/Users/kgrant/src/web/icegroupweb-styles/.csscomb.json"
  "atom-material-ui":
    colors:
      abaseColor: "#193d65"
      accentColor: "#fbc459"
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-flow"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "shindig-atom-syntax"
    ]
    titleBar: "custom"
  "double-tag":
    allowEndTagSync: false
  editor:
    fontFamily: "FiraMono-Regular"
    fontSize: 13
    invisibles:
      eol: " "
    preferredLineLength: 90
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "a415bc28-908e-1e13-cbbc-213f597e9145"
  "git-diff": {}
  "highlight-registered-keyword":
    patternsFilePath: "/Users/kgrant/.atom/config.cson"
  hyperclick:
    darwinTriggerKeys: "altKey,metaKey"
  linter: {}
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "linter-ui-default":
    panelHeight: 66
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui":
    hideDockButtons: true
    stickyHeaders: false
  perfectionist:
    cascade: false
    formatOnSave: true
    indentSize: 2
    trimLeadingZero: false
  "prettier-atom":
    bracketSpacing: false
    formatOnSave: false
    formatOnSaveOptions:
      cssScopes: [
        "source.css"
        "source.css.postcss"
        "source.css.less"
        "source.css.scss"
      ]
      enabled: true
      excludedGlobs: [
        "*.md"
      ]
      markdownScopes: [
        "none"
      ]
    prettierEslintOptions: {}
    prettierOptions:
      bracketSpacing: false
      singleQuote: true
      trailingComma: "es5"
    silenceErrors: false
  stylefmt: {}
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    keymapPToPutWithAutoIndent: true
    startInInsertMode: true
  welcome:
    showOnStartup: false
