packages: [
  "apex-syntax"
  "apex-ui"
  "atom-beautify"
  "atom-css-comb"
  "atom-jade"
  "atom-material-ui"
  "atom-panda-syntax"
  "atom-ternjs"
  "azuzy-syntax"
  "busy-signal"
  "double-tag"
  "file-icons"
  "gloom"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "js-hyperclick"
  "language-babel"
  "language-cjsx"
  "language-postcss"
  "linter"
  "linter-eslint"
  "linter-stylelint"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "nord-atom-syntax"
  "nord-atom-ui"
  "nova-atom-syntax"
  "nova-atom-ui"
  "package-sync"
  "prettier-atom"
  "simple-drag-drop-text"
  "stylefmt"
  "vim-mode-plus"
]
